body {
  background: linear-gradient(rgba(55, 146, 55, 0), #42855b);
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.btn-submit {
  color: black;
  background: #42855b;
  border: 1px solid #42855b;
  border-radius: 20px;
  width: 159px;
  height: 30px;
  left: 106px;
  top: 700px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box-login {
  width: 325px;
  height: 256px;
  left: 31px;
  top: 450.5px;
  background: #ffffff;
  border-radius: 20px;
  margin: 100px auto;
}

/*.label-username,
  .label-password {
    width: 117px;
    height: 28px;
    left: 69px;
    top: 398px;
    */

.label-username,
.label-password {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  color: #333;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.regist {
  font-size: 12px;
  align-items: end;
}
