.body {
  background-color: #72b88b;
  font-family: "Montserrat";
  font-style: normal;
}
.card {
  color: black;
}
.card-title {
  color: #fff;
}

.card:nth-child(2) {
  background-color: #a6e4b9;
}
.card:nth-child(1) {
  background-color: #a6e4b9;
}

/* Mengatur navbar */
.navbar {
  background-color: #fff;
}

.navbar-brand img {
  max-height: 45px;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.nav-link {
  color: #fff;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #ccc;
}

/* Mengatur ikon */
.bi {
  vertical-align: middle;
}

.tombol-laporan {
  margin-right: 20px;
}