.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;

}

.video-grid video {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}